recursive-include docs
include README.md LICENSE
include lanfactory *.py
include notebooks/*
include basic_tutorial_files/*
global-exclude .git
global-exclude *~
global-exclude *.pyc
global-exclude .#*